.blog-placeholder-svg {
  height: 100%;
}

@media screen and (min-width: 990px) {
  .grid--1-col-desktop .article-card .card__content {
    text-align: center;
  }
}

.blog__title {
  font-size: 34px;
  margin: 0;
  font-weight: 200;
  text-transform: capitalize !important;
  color: #000000;
}

@media screen and (max-width: 768px) {
    .blog__title {
        font-size: calc(34px * 0.8);
    }

    .blog__button {
      font-size: calc(24px * 0.8);
      font-weight: 100;
    }
}

.blog__posts.articles-wrapper {
  margin-bottom: 1rem;
}

@media screen and (min-width: 990px) {
  .blog__posts.articles-wrapper {
    margin-bottom: 0;
  }
}

.blog__posts.articles-wrapper .article {
  scroll-snap-align: start;
}

@media screen and (max-width: 749px) {
  .blog__post.article {
    width: calc(100% - 3rem - var(--grid-mobile-horizontal-spacing));
  }
}

.background-secondary .blog-placeholder__content {
  background-color: rgb(var(--color-background));
}

.blog__posts .card-wrapper {
  width: 100%;
}

.blog__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  padding: 11px 18px;
  text-decoration: none;
  border-radius: 0px;
  background: #ffffff;
  color: #000000;
  border: 1px solid #000000;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  transition: all 0.25s ease;
  margin-top: auto;
  max-height: 44px;
}

@media screen and (min-width: 750px) {
  .blog__button {
    margin-top: 5rem;
  }
}

/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
  @media screen and (min-width: 750px) {
    .blog__posts .article + .article {
      margin-left: var(--grid-desktop-horizontal-spacing);
    }
  }
}
